<p id="notice"><%= notice %></p>

<h1>Topics</h1>
<%= link_to 'New Topic', new_topic_path, class: "btn btn-default" %>

<% if @topics.blank? %>
  <p>まだ投稿はありません</p>
<% else %>
  <table class="table">
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.title, topic %></td>
        <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
        <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
<% end %>
